First Lacture :
Basics of Python


1. **What is Python?**
Python is a high-level, interpreted programming language known for its simplicity and readability. It was created by Guido van Rossum and first released in 1991. Python emphasizes code readability and allows programmers to express concepts in fewer lines of code than in other languages.

2. **What are the key features of Python?**
   - Easy-to-read syntax
   - Dynamic typing
   - Interpreted nature (no need for compilation)
   - Object-oriented programming support
   - Extensive standard library
   - Cross-platform compatibility
   - High-level data structures
   - Automatic memory management (garbage collection)

3. **How do you comment in Python?**
In Python, you can use the `#` symbol to add a single-line comment. Everything after the `#` on the same line will be considered a comment and will not be executed.

```python
# This is a single-line comment in Python
```

For multi-line comments, you can use triple quotes (`'''` or `"""`) as a string literal, and they will act as a multi-line comment.

```python
'''
This is a
multi-line comment
in Python.
'''
```

4. **What are variables in Python?**
Variables are used to store data in Python. Unlike some other programming languages, Python is dynamically typed, so you don't need to declare the data type explicitly. Python automatically determines the data type based on the value assigned to the variable.

```python
x = 10          # Integer
name = "John"   # String
is_student = True   # Boolean
```
# some common Python data types and their mutability nature:

| Data Type         | Mutability |
|-------------------|------------|
| int               | Immutable  |
| float             | Immutable  |
| bool              | Immutable  |
| str               | Immutable  |
| tuple             | Immutable  |
| list              | Mutable    |
| set               | Mutable    |
| dictionary (dict) | Mutable    |

Explanation:
- Immutable data types: Once an object of an immutable data type is created, its value cannot be changed. If you modify an immutable object, a new object is created with the updated value. Examples include `int`, `float`, `bool`, `str`, and `tuple`.

- Mutable data types: Objects of mutable data types can be modified after creation. This means you can change their content without creating a new object. Examples include `list`, `set`, and `dictionary (dict)`.

Keep in mind that the mutability of a data type refers to whether you can modify its content directly or not. It's essential to understand these distinctions as they can affect how you work with data and how you design your programs in Python.

In [2]:
8 + 7

15

In [14]:
x = 7
y = "abc"
z = 1.4
print(x)
print(type(x))
print(type(y))
print(type(z))

7
<class 'int'>
<class 'str'>
<class 'float'>

In [24]:
print(8 + 7)
print(8 - 7)
print(8 * 4)
print(9 / 4)
print(8 % 4)

15
1
32
2.25
0

In [20]:
## Floor Division method
9 // 4

2

In [25]:
##squaring

5**3

125

In [28]:
type(True)

bool

In [29]:
True + False # lebel of true is 1 and False is 0

1

In [30]:
True * False

0

In [31]:
True + True ## labeled as no 1 thats why its working as simple maths

2

In [32]:
print(len('Hello World'))

11

INDEXING: from 0 to n

In [97]:
x = 'hello world'
x[5]
x[-1:2:-1] # slicing--3rd parameter defult : -1
#x[ : : 2] # step size

'dlrow ol'

String: not mutable data type , we can not modify

In [55]:
x ='apple'
print(x[1])
x[1]='n'#immutable

p

TypeError: 'str' object does not support item assignment

INBUILD METHOD in String:

In [60]:
x = 'Sachin is a great men'
x.upper()
x.lower()

'sachin is a great men'

In [61]:
x.capitalize()

'Sachin is a great men'

In [62]:
x.title

In [63]:
x.title()

'Sachin Is A Great Men'

In [64]:
age = 27
print('happy' + age + 'Birthday')

TypeError: can only concatenate str (not "int") to str

In [67]:
age = 27
print('happy ' + str(age) + ' Birthday')

happy 27 Birthday

In [2]:
p = input("enter the first value")
q = input("enter the second value")
r = p + q
print(r)

1122

In [3]:
p = int(input("enter the first value"))
q = int(input("enter the second value"))
r = p + q
print(r)

33

In [76]:
L1 = ['Physics', 'Chemistry', 1995, 2001, 'Shivani']  
print(L1[1:-1])

['Chemistry', 1995, 2001]

##Touple

In [15]:
t = (3,2,1,4,5,6,'shivam')
len(t)

7

In [11]:
t[4]

5

In [16]:
t.index('shivam')

6

In [20]:
t1 = (7,8,9)
t2 = (10,11,12)
t1 * 3

(7, 8, 9, 7, 8, 9, 7, 8, 9)

LIST : mutable in nature

In [22]:
l1 = [2,3,4,5,'shivam']
l1

[2, 3, 4, 5, 'shivam']

In [23]:
l1.index('shivam')

4

In [27]:
l1[4]='rohan' #mutability nature
l1

[2, 3, 4, 5, 'rohan']

In [34]:
a = [1,2,3,4,5]
a1 =[2,3,4]
a.append(a1)
a

[1, 2, 3, 4, 5, [2, 3, 4]]

In [35]:
a.extend(a1)
a

[1, 2, 3, 4, 5, [2, 3, 4], 2, 3, 4]

In [37]:
a[5][0] #nested search

2

In [38]:
a.pop(-2)## -2th index value will be removed.

3

In [41]:
a

[1, 2, 3, 4, 5, [2, 3, 4], 2, 4]

In [43]:
a.remove(2)
a

[1, 3, 4, 5, [2, 3, 4], 4]

In [45]:
a.insert(2,20)# adding 20 at 2nd index place 
a

[1, 3, 20, 20, 4, 5, [2, 3, 4], 4]

In [51]:
a.reverse()

In [52]:
a

[4, [2, 3, 4], 5, 4, 20, 20, 3, 1]

In [58]:
a.pop(1)

[2, 3, 4]

In [59]:
a

[4, 20, 20, 5, 4, 3, 1]

In [61]:
a.sort(reverse=True)
a

[20, 20, 5, 4, 4, 3, 1]